body, html, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #D3E0E1;
}

h2, .cardName {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #111316;
}

h3, .topName {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #111316;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #919CAA;    
}

div {
  &::-webkit-scrollbar {
      display: none;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #919CAA;
}