.login_input {
    height: 50px;
    background-color: #D6E4E5;
    color: #111316;
    border-radius: 13px;
    border: none;
    box-shadow: none;
    outline: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    &:hover, &:active, &:focus-visible {
        border: none;
        box-shadow: none;
        outline: none;
    }
    &::placeholder { /* Most modern browsers support this now. */
        color:#111316;
     }
}