.button{
    height: 100%;
    width: 100%;
    border-radius: 13px;
    &:hover {
        background-color: #D3E0E1;
        cursor: pointer;
    }
    &:active {
        background-color: #497174;
        cursor: pointer;
        color: #FFFFFF;
        p {
            color: #FFFFFF;
        }
    }
}