.myMessage {
    background-color: #D3E0E1;
    color: #111316;
    border-radius: 15px 15px 0px 15px;
    img {
        border-radius: 15px 15px 0px 0px;
    }
}

.fromMessage {
    background-color: #EFF5F5;
    color: #111316;
    border-radius: 15px 15px 15px 0px;
    img {
        border-radius: 15px 15px 0px 0px;
    }
}